* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font: 1em/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif; }

#page {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #page:before, #page:after {
    content: " ";
    display: table; }
  #page:after {
    clear: both; }

#content {
  margin-bottom: 5em; }

#footer {
  display: none; }
